page-resitro {

}

#TextoP{
  font-size: 150%;
}

#TextoS{
  font-size: 80%;
  margin-left: 2em;
  margin-right: 2em;
  color: grey;
}

#imagen2{
  height: 8.7em;
  width: 10em;
  display:block;
  margin:auto;
}

#btnregistrar{
    background-color: #cdda49;
}
